/*  portfolio  */

.portfolio{
    position: relative;
    &__thumb{
        &::before{
            position: absolute;
            background: rgba(0,0,0,0.7); 
            top:0;
            left: 0;
            height: 100%;
            width: 100%;
            content: "";
            @include transition (0.3s);
            opacity: 0;
            z-index: 9;
        }
    }

    &:hover{
        & ::before{
            opacity: 1;
        }
    }

    &__text{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 30px;
        z-index: 99;
        @include transition(0.3s);
        opacity: 0;
        visibility: hidden;
        padding-bottom: 10px;
        & h4{
            font-size: 14px;
            & a{
                color: $white;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
        & span{
            color: $hr-border-color;
            font-size: 11px;
        }
    }
    &:hover{
        & .portfolio__text{
            opacity:1;
            visibility: visible;
            padding-bottom: 25px;
        }
    }
}

.popup-image{
    position: absolute;
    top: 5px;
    left: 30px;
    color: $white;
    font-size: 16px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    &:hover{
        color: $theme-color;
    }
}

.portfolio{
    &:hover{
        & .popup-image{
            opacity: 1;
            top: 30px;
            visibility: visible;
        }
    }
}

.portfolio-menu{
    & button{
        background: none;
        border: 0;
        padding: 0;
        margin: 0 12px;
        &.active{
            color: $theme-color;
        }
    }
}