// Font Family
$roboto: 'Roboto Condensed', sans-serif;

// Colors ---------------
$white: #ffffff;
$black: #3333;
$footer-bg: #0000;
$grey:#f7f7fd;
$green: #08ec08;
$theme-color: #f00;
$body-text-color: #555;
$hr-border-color:#eceff8;
$footer-color-p:#bdbdbd;
$brown: #F5DEB3;
// Heading Color
$heading-color: #404040;

// Soft color
$black-soft:#7e7e7e;
$black-soft-2:#67d6f1;


// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';

